<!-- <header>
    <app-navbar></app-navbar>
</header>
<section>
    <app-main-body></app-main-body>
</section> -->
<mat-sidenav-container>
    <mat-sidenav #drawer mode="over">
        <header>
            <div class= "grid-container">
                <h3>Welcome Back</h3>
                <button (click)="drawer.close()">
                    <span class="material-icons">
                        clear
                    </span>
                </button>
            </div>
            <div *ngIf="!login">
                <form class="pd">
                    <div class="image-upload">
                        <span class="material-icons account">
                            account_circle
                            </span>
                        <label for="file-input">
                            <span class="material-icons img-select">
                                camera_alt
                                </span>
                        </label>
                    
                        <input id="file-input" type="file">
                    </div>
                    <div>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <input type="email" id="lname" name="lastname" placeholder="Your email id..">
                    </div>
                  </form>
            </div>
            <div class="pd" *ngIf="login">
                <img src="../assets/strom-removebg-preview.png" alt="">
                <div class="info" >
                    <p>pritha chatterjee</p>
                    <p>ms.chatterjee@gmail.com</p>
                </div>
            </div>
            <button (click)="logIn()">
                <p *ngIf="!login" [class.login]="onClick"> logIn</p>
                <p *ngIf="login" [class.login]="onClick"> logout</p>
            </button>
        </header>
    </mat-sidenav>
    <mat-sidenav-content>
        <header>
            <app-navbar (drawer)="drawer.open()"></app-navbar>
        </header>
        <section>
            <app-main-body></app-main-body>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>